spring:
  application:
    name: room
  profiles:
    active: dev
  config:
    import: # config server

eureka:
  client:
    register-with-eureka: true #Eureka 서버에 등록할지 여부
    fetch-registry: true #Eureka 서버의 정보를 가져올지 여부
    service-url:
      defaultZone: # eureka server